cryptography
pycryptodome
secretsharing
qrcode
pyzbar
colorama

# Dependencias opcionales:
# pybluez      # Bluetooth real (Windows <= 3.9)
# pyudev       # Detección de USB (Linux)
# stem>=1.8.0  # Soporte Tor
# PySocks>=1.7.1  # Soporte Tor 